*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*Fondo*/
    background-color: #fff;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}


/* Formulario */
.img-form{
    float: left;
    margin-top: 5em;
}

.form-contacto{
    text-align: center;
    margin-top: 3em;
    width: 95%;
}
.encabezado {
    /*Fuente*/
    font-family: 'Edo SZ';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

/*Clase para subtemas*/
.descripcion {
    /*Fuente*/
    font-size: 25px;
    /*Margenes*/
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

/*Campos de usuaro y contraseña (Diseño)*/
.campo {
    /*Bordes*/
    border-radius: 8px;
    border-color: rgba(8, 7, 7, 0.342);

    /*Fondo*/
    background: rgb(255, 255, 255);

    /*Texto*/
    text-align: center;
    font-size: 20px;

    /*Dimensiones*/
    height: 2em;
    width: 30%;

    /*Margenes*/
    margin-bottom: 2em;
    margin-top: 0.5em;
}

/*Campo mensaje*/
textarea{
    resize: none;
}

#mensaje{
    /*Bordes*/
    border-radius: 8px;
    border: solid;
    border-color: rgba(8, 7, 7, 0.342);

    /*Fondo*/
    background: rgb(255, 255, 255);
    
    /*Tamaño del campo*/
    height: 10em;

    /*Fuente-texto*/
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.boton {
    /*Margenes*/
    margin-top: 1.5em;
    margin-bottom: 7em;

    /*Texto*/
    color: rgb(255, 255, 255);
    font-family: 'Edo SZ';
    text-align: center;
    font-size: 22px;
    line-height: 26px;

    /*Elemento boton*/
    background:#A13842;
    width: 250px;
    height: 50px;

    /*Borde del elemento boton*/
    border-radius: 8px;
    border-color: transparent;

}

/*Posar el cursor sobre el boton*/
.boton:hover {
    /*Margenes*/
    margin-top: 1.5em;
    margin-bottom: 7em;

    /*Texto*/
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    line-height: 26px;

    /*Elemento boton*/
    background: #882a33;
    width: 250px;
    height: 50px;

    /*Borde del elemento boton*/
    border-radius: 8px;
    border-color: transparent;
}

button[type="submit"]:active {
    transform: scale(0.95);
}


/* FOOTER */

.contenedor_piePagina{
    width: 100%;
    height: auto;
    background-image: url("https://i.ibb.co/0c5z7MN/footter.png");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.titulo__piePagina{
    display: flex;
    height: 650px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    font-family: 'Edo SZ', normal;
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
}

.subtitulo__piePagina{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Edo SZ', normal;
}

.piePagina__cta{
    font-family: 'Edo SZ', normal;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 30px;
}

.piePagina{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Edo SZ', normal;
    color: #fff;
}

@media only screen and (max-width: 560px){
    .img-form{
        display: none;
    }
    .campo{
        width: 80%;
    }
    .piePagina{
        font-size: 15px;
    }
    .piePagina__cta{
        font-size: 13px;
    }
    .encabezado{
        font-size: 35px;
    }
    .descripcion{
        font-size: 20px;
    }
    .form-contacto{
        margin-top: 0em;
    }
}